/* styles.css */
@keyframes borderAnimation {
    0% {
      border-width: 2px;
      transform: scale(1);
      opacity: 0;
    }
    50% {
      border-width: 4px;
      transform: scale(1.05);
      opacity: 0.5;
    }
    100% {
      border-width: 2px;
      transform: scale(1);
      opacity: 1;
    }
  }
  
  .button-border-animation {
    position: relative;
    border-width: 2px;
    border-color: #60a5fa;
    border-style: solid;
    transition: border-width 0.3s, transform 0.3s, opacity 0.3s;
    animation: borderAnimation 1s infinite;
  }
  
  .button-border-animation:hover {
    border-width: 4px;
    transform: scale(1.05);
    opacity: 1;
  }
  